[Unit]
Description=Manage Bots service
After=multi-user.target
 
[Service]
User=root
Group=root
Type=idle
Restart=on-failure

EnvironmentFile=/etc/environment

ExecStart=/bin/bash -c 'cd $HOME/$PROJECT_NAME && source .venv/bin/activate && uvicorn app.main:app --host 0.0.0.0 --port 12000 --reload'

[Install]
WantedBy=multi-user.target

